<div class="card">
    <div class="card-header">
        <div class="col-md-4 mr-auto">
            {{title}}
        </div>

        <!-- <div class="col-md-8 ml-auto">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
                  Search
                </button>
                </div>
            </div>
        </div> -->


    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary" (click)='toggleImage()'>
                                {{showImage? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products'>
                        <td><img *ngIf="showImage" [src]='product.imageUrl' [title]='product.productName' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
                        </td>
                        <td>{{product.productName}} </td>
                        <td>{{product.productCode}} </td>
                        <td>{{product.releaseDate}} </td>
                        <td>{{product.price}} </td>
                        <td>{{product.starRating}} </td>
                        <td><button type="button" class="btn btn-secondary " routerLink='/edit/{{product._id}}' *ngIf="loggedIn()">edit</button>
                            <button type="button" class="btn btn-danger m-1" (click)=delete(product._id) *ngIf="loggedIn()">delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>